@media (max-width: 992px){
    section .slider-text h1{
             font-size: 100px;
    }
    
    section .slider-text h3{
             font-size: 32px;
    }
    section h4{
           font-size: 1.4rem;
    }
   
}

/* max-width 768px */

@media (max-width: 768px){
    section .slider-text h1{
        font-size: 80px;
          
    }
    
    section .slider-text h3{
        font-size: 21px;
     }
    
    section .image-1{
        max-width: 75%;
    }
    .vmv-border p{
      font-size: 14px;  
      line-height: 1.6rem;
}
section ul{
    margin:0;
    padding: 0;
}
.section-heading{
     font-size:1.9rem;
}
section h4{
     font-size: 1.4rem;
}
.text-case3{
    font-size: 21px;

}
.navbar-brand img{
    width: 150px;
   
}
.text-line3 {
    font-size: 1.9rem;
}


}

/* max-width 576 */

@media (max-width: 576px){
            
    section .slider-text h1{
           font-size: 62px;
    }
    section .slider-text h3{
         font-size: 18px;
    }
    .section-heading{
           font-size:1.8rem;
    }
    section h4{
           font-size: 1.3rem;
    }
   
    .text-case3{
        font-size: 18px;
}
.vmv .fa{
    font-size: 85px;
    
}
section .image-1{
    max-width:70%;
    /* margin-top: 35px; */
}
section h1{
    font-size: 30px;
}
section h4{
    font-size: 20px;
}
section p{
    font-size: 1rem;
}
.navbar-brand img{
    width: 130px;
   
}
.navbar-nav .nav-item .nav-link{
    font-size: 13px;
}
.vmv-border p{
    font-size: 13px;  
    line-height: 1.4rem;
}
}

/* max-width:488px */
@media  (max-width: 488px){
    section .slider-text h1{
        font-size: 52px;
 }
 section .slider-text h3{
      font-size: 15px;
 }
}

/* max-width: 372 */
@media  (max-width: 372px){
    .vmv-border p{
        font-size: 13px;  
        line-height: 1.2rem;
    }
    section .slider-text h1{
        font-size: 48px;
 }
 section .slider-text h3{
      font-size: 12px;
 }
 footer .comman .fa{
    font-size: 1.6rem;
}
footer h3{
    font-size: 1.5rem;
}
footer h5{
    font-size: 1rem;
}
footer .Social .fa {
    font-size: 23px;
}
footer .Social span {
    width: 45px;
    height: 45px;
   
}
.vmv .fa {
    font-size: 85px;
    padding: 10px;
}
.contact_form {
    padding: 10px;
}

.contact_form .form-control {
    padding: 10px;
    margin-bottom: 12px;
    height: 36px;
}
.contact_form textarea {
    padding: 10px 10px !important;
    height: 150px !important;
}
.contact_form button {
    
    font-size: 16px;
   
}

}
